@font-face{
	font-family: Exo-Demi;
	src: url(Exo2-SemiBold.otf);
}

#navbar{
	font-family: Exo-Demi;
	background-color:#696969;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

h1, h2, h3{
	font-family: Exo-Demi;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	width: 50%;
}

body{
	max-width: 50em;
	text-align:left;
	margin: auto;
	background-color: #F9F9F9;
}

.page-header{
	text-align:center;
	padding-top: 1.5em;
}

.nav-button{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: auto;
	height:50px;
	padding-left: 20px;
	padding-right:20px;
}

.nav-button:hover{
	background-color: #DDA0DD;
}

a{
	padding-top: 1em;
}

li{
	font-weight: bold;
}

figure{
	padding-top: 0;
	padding-bottom:0;
	text-align: center;
	font-style: italic;
	width: 50em;
	margin:auto;
}

figcaption{
	padding-bottom: 1em;
}


Details{
	background-color: #898989;
}

Summary{
	background-color: #DDA0DD;
	padding-top: 1em;
	padding-bottom: 1em;
	border:2px solid #5D6063;
	border-radius:5px;
}

Summary:hover{
	background-color: #D090D0;
}
